{% extends 'members/base.html' %}
{% block title %} Login {% endblock %}
{% block body %}

<div class="row justify-content-center">
    <div class="mt-10 col-6 w-auto" > 
        <div class="card border-light mb-3">
            <div class="mt-10 card-header"></i>Login</div>
            <div class="card-body">
                <form method = "POST" class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type ="submit" class="btn btn-primary">Login</button>
                </form>  
            </div>
          </div>
    </div>
</div>
{% endblock %}