{% extends 'members/base.html' %}
{% block title %}Edit Member{% endblock %}
{% block body %}
    <h3 class="text-center m-4"> Edit Member</h3>
    {%if success %}
        <div class="alert alert-success" role="alert">
            Member updated successfully <a href="{% url 'index' %}" class= "alert-link">Go to Home Page.</a>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-6"> 
                <div class="card border-light mb-3">
                    <div class="card-header"><i class="fa-solid fa-user-pen fa-lg me-2"></i></i>Edit Member</div>
                    <div class="card-body">
                        <form action="" method = "POST" >
                            {% csrf_token %}
                            {{ form.as_p }}
                        <button type ="submit" class="btn btn-primary">Update</button>
                        <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
                      </form>
                    </div>
                  </div>
            </div>
        </div>
    {% endif %}
{%endblock%}